<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <!-- <h1><a href="/">CALASCHEDULE</a></h1> -->
            <a href="/"><img src="assets/img/logo.png" alt="" class="img-fluid">CALASCHEDULE</a>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <% if(locals.isLoggedIn) { %>
                    <li><a class="nav-link scrollto" href="/dashboard">Home</a></li>
                    <li><a class="nav-link scrollto" href="/dashboard#timetable">Timetable</a></li>
                    <li><a class="nav-link scrollto" href="/enroll">Enroll</a></li>
                    <li><a class="nav-link scrollto" href="/profile">Profile</a></li>
                    <li><a class="nav-link scrollto" href="/admin">Admin</a></li>
                    <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="/signup">Signup</a></li>
                    <li><a class="nav-link scrollto" href="/login">Login</a></li>
                <% } %>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- End navbar -->
    </div>
</header><!-- End Header -->