<div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
    <!-- Slide 1 -->
    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>CALASCHEDULE</span></h2>
            <p>Effortless Class Management</p>
            <p class="animate__animated fanimate__adeInUp">Stay organized and on top of your schedule with CALASCHEDULE. Seamlessly manage your classes and assignments with just a few clicks.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Flexible Timetable Solutions</h2>
            <p class="animate__animated animate__fadeInUp">Adapt to changes effortlessly. CALASCHEDULE empowers students and Lecturers to reschedule classes with ease, ensuring smooth transitions and optimized learning.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Streamlined Learning Experience</h2>
            <p class="animate__animated animate__fadeInUp">Experience education like never before. CALASCHEDULE provides a user-friendly platform for students and Lecturers, enhancing collaboration and efficiency.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>
</div>