<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Todays First Class</h2>
                    <p class="animate__animated fanimate__adeInUp">COMP 422- Engineering and Software Law</p>
                    <p class="animate__animated fanimate__adeInUp">Venue: NS1, At 9.00 AM</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">View Full Timetable</a>
                </div>
            </div>
        
            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Todays Second Class</h2>
                    <p class="animate__animated fanimate__adeInUp">COMP 426- Mobile Application Development</p>
                    <p class="animate__animated fanimate__adeInUp">Venue: NS1, At 11.00 AM</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">View Full Timetable</a>
                </div>
            </div>
        
            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Todays Third Class</h2>
                    <p class="animate__animated fanimate__adeInUp">COMP 424- Expert System</p>
                    <p class="animate__animated fanimate__adeInUp">Venue: BS3, At 3.00 PM</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">View Full Timetable</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">No Classes Today</h2>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">View Full Timetable</a>
                </div>
            </div>
        
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            </a>
        
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path"
                    d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>
    </section><!-- End Hero -->
    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="section-title" data-aos="zoom-out">
                    <h2>About CALASCHEDULE</h2>
                    <p>Empowering Education</p>
                </div>
                <div class="row content" data-aos="fade-up">
                    <div class="col-lg-6">
                        <p>
                            CALASCHEDULE is a cutting-edge timetable application designed to revolutionize the educational experience for both students and Lecturers. Our platform simplifies class management, allowing users to effortlessly organize their schedules and assignments.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Effortlessly manage classes and assignments</li>
                            <li><i class="ri-check-double-line"></i> Seamlessly adapt to changes in schedule</li>
                            <li><i class="ri-check-double-line"></i> Foster collaboration and efficiency in learning</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            At CALASCHEDULE, we believe in creating a streamlined learning experience that empowers individuals to achieve their academic goals. Our platform is built on principles of flexibility, accessibility, and innovation, ensuring that students and Lecturers can focus on what truly matters - learning and growth.
                        </p>
                        <a href="#" class="btn-learn-more">Learn More</a>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->

            <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

          <div class="section-title" data-aos="zoom-out">
              <h2>Testimonials</h2>
              <p>What they are saying about us</p>
          </div>

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              As the CEO & Founder of CALASCHEDULE, I'm proud to see how our platform is empowering students and Lecturers alike. It's fulfilling to witness the positive impact it's making in the education sector.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                          <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                          <h3>Shikuku Emmanuel</h3>
                          <h4>Ceo &amp; Founder</h4>
                      </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              As a Lecturer, CALASCHEDULE has simplified my scheduling process immensely. I can easily manage my appointments and communicate changes with my students seamlessly.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                          <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                          <h3>Sara Wilsson</h3>
                          <h4>Lecturer</h4>
                      </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              CALASCHEDULE has made coordinating group study sessions a breeze. It's helped our study group stay organized and focused on our goals.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                          <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                          <h3>Jena Karlis</h3>
                          <h4>Student</h4>
                      </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              I've tried several scheduling apps, but CALASCHEDULE stands out for its user-friendly interface and robust features. It's truly a game-changer for both students and Lecturers.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                          <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                          <h3>Matt Brandon</h3>
                          <h4>Student</h4>
                      </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              CALASCHEDULE has been a lifesaver for me as a busy Lecturer. I can easily manage multiple classes and appointments, which frees up more time for actual teaching.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                          <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                          <h3>John Larson</h3>
                          <h4>Lecturer</h4>
                      </div>
                  </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
          </div>

      </div>
  </section><!-- End Testimonials Section -->


    <!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container">

      <div class="section-title" data-aos="zoom-out">
          <h2>Frequently Asked Questions</h2>
          <p>Got questions? We've got answers.</p>
      </div>

      <ul class="faq-list">

          <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How do I sign up for CALASCHEDULE? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                      Signing up for CALASCHEDULE is easy! Just visit our website and click on the "Sign Up" button. Follow the prompts to create your account with a valid email address and password.
                  </p>
              </div>
          </li>

          <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Is CALASCHEDULE free to use? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                      Yes, CALASCHEDULE offers a free version with basic features. However, we also offer premium plans with additional functionalities for those who need more advanced scheduling capabilities.
                  </p>
              </div>
          </li>

          <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Can I use CALASCHEDULE on my mobile device? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                      Absolutely! CALASCHEDULE is fully optimized for mobile devices, so you can access your schedule and manage your classes on the go. Simply download our app from the App Store or Google Play Store.
                  </p>
              </div>
          </li>

          <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How secure is my data on CALASCHEDULE? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                      We take the security and privacy of your data very seriously. CALASCHEDULE employs industry-standard encryption protocols to safeguard your information. Rest assured that your data is safe with us.
                  </p>
              </div>
          </li>

          <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Can I reschedule classes using CALASCHEDULE? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                      Yes, CALASCHEDULE allows both students and tutors to reschedule classes easily. Simply navigate to your class schedule, select the class you wish to reschedule, and choose a new available time slot.
                  </p>
              </div>
          </li>

          <li>
              <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">What if I encounter technical issues while using CALASCHEDULE? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                      If you experience any technical issues or have questions about using CALASCHEDULE, our support team is here to help. You can reach out to us through our contact page, and we'll assist you promptly.
                  </p>
              </div>
          </li>

          <li>
              <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">Does CALASCHEDULE integrate with other calendar applications? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq7" class="collapse" data-bs-parent=".faq-list">
                  <p>
                      Currently, CALASCHEDULE operates as a standalone application and does not offer direct integration with external calendar applications. However, our user-friendly interface allows for easy manual input of class schedules and appointments, ensuring you can keep track of your timetable efficiently within CALASCHEDULE itself.
                  </p>
              </div>
          </li>

      </ul>

  </div>
</section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">
            <div class="section-title" data-aos="zoom-out">
                <h2>Team</h2>
                <p>Our Hardworking Team</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Product Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title" data-aos="zoom-out">
          <h2>Get in Touch</h2>
          <p>Contact Us</p>
          <p style="font-size: 18px; text-transform: none; font-weight: normal;">Have questions or feedback? We'd love to hear from you! Reach out to us for support, inquiries, or partnership opportunities. Your input helps us continually improve CALASCHEDULE for the entire educational community.</p>
        </div>
        <div class="row mt-5">
        <div class="col-lg-4" data-aos="fade-right">
            
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <%- include('partials/footer') %>