<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Welcome to <span>TUTOR DASHBOARD</span></h2>
                    <p>Effortless Class Management</p>
                    <p class="animate__animated fanimate__adeInUp">Stay organized and on top of your schedule with CALASCHEDULE. Seamlessly manage your classes and assignments with just a few clicks.</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>
        
            <!-- Slide 2 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Welcome to <span>TUTOR DASHBOARD</span></h2>
                    <p>Effortless Class Management</p>
                    <p class="animate__animated fanimate__adeInUp">Stay organized and on top of your schedule with CALASCHEDULE. Seamlessly manage your classes and assignments with just a few clicks.</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>
        
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            </a>
        
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path"
                    d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>
    </section><!-- End Hero -->
    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="section-title" data-aos="zoom-out">
                    <h2></h2>
                    <p>Empowering Education</p>
                </div>
                <div class="row content" data-aos="fade-up">
                    <div class="col-lg-6">
                        <p>CALASCHEDULE is a cutting-edge timetable application designed to revolutionize the educational experience for both students and Lecturers. Our platform simplifies class management, allowing users to effortlessly organize their schedules and assignments.</p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Effortlessly manage classes and assignments</li>
                            <li><i class="ri-check-double-line"></i> Seamlessly adapt to changes in schedule</li>
                            <li><i class="ri-check-double-line"></i> Foster collaboration and efficiency in learning</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            At CALASCHEDULE, we believe in creating a streamlined learning experience that empowers individuals to achieve their academic goals. Our platform is built on principles of flexibility, accessibility, and innovation, ensuring that students and Lecturers can focus on what truly matters - learning and growth.
                        </p>
                        <a href="#" class="btn-learn-more">Learn More</a>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->

    <%- include('partials/contact') %>

</main><!-- End #main -->
<%- include('partials/footer') %>